body {
  background-color: #ededed;
  font-family: "Cardo", serif;
  color: #4869ab;
}

a {
  background-image: linear-gradient(180deg, transparent 65%, #ffd0ae 0);
  background-size: 100% 100%;
  text-decoration: none;
  color: #4869ab;
}

a:hover {
  text-decoration: none;
  font-weight: 400;
  background-image: linear-gradient(180deg, transparent 65%, #ffb987 0);
  background-size: 100% 100%;
  cursor: pointer;
}

.container {
  border: 1px solid #4869ab;
  box-shadow: 8px 5px #4869ab;
  margin: 0 auto;
  padding: 3vw;
  width: 90vw;
  max-width: 800px;
  max-height: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

.title {
  font-weight: 500;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 10px;
}

.main-text {
  font-size: 22px;
  line-height: 36px;
}

.nav-section {
  margin-right: 1em;
  font-size: 22px;
}

.nav-sections {
  margin-bottom: 22px;
}

@media only screen and (min-width: 1050px) {
  .container {
    padding: 3vw;
    width: 70vw;
    max-width: 800px;
    max-height: 800px;
  }
}
@media only screen and (max-width: 750px) {
  .container {
    width: 80vw;
    max-height: 90vh;
  }

  .title {
    font-weight: 500;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .main-text {
    font-size: 24px;
    line-height: 36px;
  }

  .nav-section {
    margin-right: 1em;
    font-size: 24px;
  }

  .nav-sections {
    margin-bottom: 24px;
  }
}
